/* CSS untuk Navbar */
nav {
    background-color: #333;
    padding: 8px;
    text-align: center;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Menjadikan menu turun ke bawah */
  }

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s; /* Efek transisi untuk perubahan warna */
}

nav a:hover {
    color: #ffcc00;
}

/* Efek saat tombol di klik */
nav a:active {
    color: #ff9900; /* Ganti warna sesuai kebutuhan */
    background-color: #555;
}

header h2 {
    color: #fff; /* Tambahkan properti warna untuk elemen h2 */
}


body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        color: #333;
    }

    header {
        background-color: #333;
        color: #fff;
        padding: 10px;
        text-align: center;
    }
    h2 {
        text-align: center;
        color: #333;
    }
    main {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    article {
        text-align: justify;
        margin-bottom: 20px;
    }

        /* CSS untuk memberi gaya pada paragraf dalam artikel */
    article p {
    margin-bottom: 10px; /* Jarak antar paragraf */
    line-height: 1.5; /* Tinggi baris untuk meningkatkan kejelasan */
    color: #333; /* Warna teks */
    text-indent: 20px; /* Efek menjorok untuk awal kalimat */   
    }

        /* Gaya khusus untuk paragraf pertama */
    article p:first-child {
    font-weight: bold; /* Teks paragraf pertama menjadi tebal */    
    }   


    footer {
        background-color: #333;
        color: #fff;
        padding: 10px;
        text-align: center;
    }

    footer .love-logo {
        font-size: 20px;
        color: red;
    }

    img.responsive {
        max-width: 100%;
        height: auto;
    }